<header>
        <h1>My sweet</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/products">Productos</a></li>
                <!-- Otros elementos de navegación -->
            </ul>
        </nav>
        <a href="/api/session/logout">Cerrar Sesión</a>
    </header>