<!DOCTYPE html>
<html>

<head>
  <title>Lista de Productos</title>
</head>

<body>
  <h1>Lista de Productos</h1>

  <ul id="product-list">
    {{#each productos}}
    <li>{{title}} - Precio: {{price}}</li>
    {{/each}}
  </ul>

  <script src="/socket.io"></script>
  <script>
    const socket = io();

    socket.on('productosActualizados', function (data) {
      const productList = document.getElementById('product-list');
      productList.innerHTML = '';

      data.productos.forEach(function (producto) {
        const listItem = document.createElement('li');
        listItem.textContent = producto.title + ' - Precio: ' + producto.price;
        productList.appendChild(listItem);
      });
    });
  </script>
</body>

</html>
