<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My App</title>
  <link rel="stylesheet" href="/css/styles.css" />


</head>
<body>
  {{{body}}} <!-- Aquí se insertará el contenido específico de cada vista -->
  
  <script src="/Public/js/app.js"></script> <!-- Ruta al archivo JavaScript -->
</body>
</html>