<h2>Registro</h2>
<form action="/api/sessions/register" method="POST">
  <!-- Otros campos de registro (nombre, correo electrónico, contraseña, etc.) -->
  <label for="admin">¿Eres administrador?</label>
  <select id="admin" name="admin">
    <option value="true">Sí</option>
    <option value="false">No</option>
  </select>
  <br><br>
  <input type="submit" value="Registrarse">
</form>

