.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Ajusta el espaciado entre tarjetas */
    margin: 0 auto;
    max-width: 1200px; /* Ancho máximo del contenedor */
  }
  
  .card {
    width: calc(33% - 1rem); /* Ancho de las tarjetas */
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
  }
  
  .card a {
    text-decoration: none;
  }
  
  .content {
    padding: 1.1rem;
  }
  
  .image {
    object-fit: cover;
    width: 100%;
    height: 150px;
    background-color: rgb(239, 205, 255);
    border-radius: 1rem 1rem 0 0;
  }
  
  .title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  
  .desc {
    margin-top: 0.5rem;
    color: #6b7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563eb;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .action span {
    transition: 0.3s ease;
  }
  
  .action:hover span {
    transform: translateX(4px);
  }
  .select {
    padding: 8px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border: 1px solid #ccc; /* Borde */
    border-radius: 4px; /* Bordes redondeados */
    width: 200px; /* Ancho */
    background-color: #fff; /* Color de fondo */
    color: #333;
  }
  
  .select:hover {
    border-color: #999;
  }
  
  .button {
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: teal;
    color: white;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 14px 56px -11px teal;
    width: 10em;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  
  .button span:after {
    content: "filters";
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.7s;
  }
  
  .button:hover span {
    padding-right: 2.7em;
  }
  
  .button:hover span:after {
    opacity: 4;
    right: 0;
  }
  
  .form-filters-products {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 2em;
  }
  
  .buttons-filters {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
  }