<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registro fallido</title>
</head>
<body>
  <h1>Registro fallido</h1>
  <p>El registro falló debido a un error.</p>
</body>
</html>