<!DOCTYPE html>
<html>
<head>
  <title>Message Form</title>
</head>
<body>
  <h1>Message Form</h1>
  <form action="/api/messages{{#if message._id}}/{{message._id}}{{/if}}" method="POST">
    {{#if message._id}}
      <input type="hidden" name="_method" value="PUT">
    {{/if}}
    <label for="user">User:</label>
    <input type="text" id="user" name="user" value="{{message.user}}">
    <br>
    <label for="message">Message:</label>
    <textarea id="message" name="message">{{message.message}}</textarea>
    <br>
    <input type="submit" value="{{#if message._id}}Update{{else}}Create{{/if}} Message">
  </form>
</body>
</html>