<section style="height: 100vh;">
  <div class="container">
    <div class="form-container-forgot-password">
      <p class="title"> Reset password</p>
      <form class="form" action="/api/sessions/reset-password" method="POST">
        <input
          class="input"
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          required
        />
        <input class="form-btn" type="submit" value="Send email" />
      </form>
    </div>
  </div>
</section>