<section style="height: 100vh;">
  <div class="container">
    <div class="form-container-reset-password">
      <p class="title"> New password</p>
      <form
        class="form"
        action="/api/sessions/reset-password/{{resetToken}}"
        method="POST"
      >
        <input
          class="input"
          type="password"
          id="newPassword"
          name="newPassword"
          placeholder="New password"
          required
        />
        <input
          class="input"
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Confirm password"
          required
        />
        <input class="form-btn" type="submit" value="Save password" />
      </form>
    </div>
  </div>
</section>
{{#if error}}
  <div class="alert alert-danger">
    {{error}}
  </div>
{{/if}}