<section class="loginSystem">
  <form class="form">
    <p class="title">Send email</p>
    <p class="message">to reset password</p>
    <label for="email">
      <input
        class="input"
        type="email"
        name="email"
        id="email"
        placeholder=""
        required
      />
      <span>Email</span>
    </label>
    <input
      class="submit"
      type="submit"
      id="sendEmailButton"
      value="Send link"
    />
  </form>
</section>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login/password.js"></script>