<section class="loginSystem">
  <form action="" class="form">
    <p class="title">Register </p>
    <p class="message">Signup now and get full access to our app. </p>
    <div class="flex">
      <label for="first_name">
        <input
          class="input"
          type="text"
          name="first_name"
          id="first_name"
          placeholder=""
          required
        />
        <span>Firstname</span>
      </label>

      <label for="last_name">
        <input
          class="input"
          type="text"
          name="last_name"
          id="last_name"
          placeholder=""
          required
        />
        <span>Lastname</span>
      </label>
    </div>

    <label for="email">
      <input
        class="input"
        type="email"
        name="email"
        id="email"
        placeholder=""
        required
      />
      <span>Email</span>
    </label>

    <label for="age">
      <input
        class="input"
        type="number"
        name="age"
        id="age"
        placeholder=""
        required
      />
      <span>Age</span>
    </label>

    <label for="password">
      <input
        class="input"
        type="password"
        name="password"
        id="password"
        placeholder=""
        required
      />
      <span>Password</span>
    </label>
    <input class="submit" type="submit" value="Register" id="registerButton" />
    <p class="signin">Already have an acount ? <a href="/">Sign in</a> </p>
  </form>
</section>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login/register.js"></script>