<section class="loginSystem">
  <form class="form">

    <label for="password">New Password:</label>
    <input type="password" name="password" id="password" required />

    <input type="submit" id="resetPasswordButton" value="Reset" />
  </form>
</section>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login/password.js"></script>